body{
    background-color: #ced8e8;
}

#wrapper {
    width: 600px;
    margin: 10px;
}

#txtUsername {
    background-color: transparent; 
    border: solid 1px black;
}

#left, #right {
    min-height: 300px;
}

#left{
    width: 20%;
    float: left;
    background-color: #effcde;
}

#right{
    width: 80%;
    float: right;
    background-color: #edf2e6;
}

#boxTitle {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
    font-weight: bold;
}

#boxContent {
    border: solid 1px black;
    border-top: none;
    padding: 5px;
    text-align: center;
}

#sayHi{
    text-align: right;
}

#listMessages{
    height: 300px;
    background-color: #efd7b6;
    margin-bottom: 15px;
}

#txtMessages{
    background-color: transparent;
    border: solid 1px black;
}